<ul>
	<li><a href='{{ url_for('structure')}}'>구조식 퀴즈</a></li>
	<li><a href='{{ url_for('structure', page=1)}}'>구조식 1-50</a></li>
	<li><a href='{{ url_for('structure', page=2)}}'>구조식 51-100</a></li>
	<li><a href='{{ url_for('structure', page=3)}}'>구조식 101-135</a></li>
	<li><a href='{{ url_for('iupac')}}'>IUPAC 퀴즈</a></li>
	<li><a href='{{ url_for('iupac', page=1)}}'>IUPAC 1-50</a></li>
	<li><a href='{{ url_for('iupac', page=2)}}'>IUPAC 51-100</a></li>
	<li><a href='{{ url_for('iupac', page=3)}}'>IUPAC 101-135</a></li>
</ul>