<ul>
	<li><a href='{{ url_for('structure')}}'>구조식 퀴즈</a></li>
	<li><a href='{{ url_for('structure', page=1)}}'>구조식 1-30</a></li>
	<li><a href='{{ url_for('structure', page=2)}}'>구조식 31-60</a></li>
	<li><a href='{{ url_for('structure', page=3)}}'>구조식 61-90</a></li>
	<li><a href='{{ url_for('structure', page=4)}}'>구조식 91-120</a></li>
	<li><a href='{{ url_for('structure', page=5)}}'>구조식 121-135</a></li>
	<li><a href='{{ url_for('iupac')}}'>IUPAC 퀴즈</a></li>
	<li><a href='{{ url_for('iupac', page=1)}}'>IUPAC 1-30</a></li>
	<li><a href='{{ url_for('iupac', page=2)}}'>IUPAC 31-60</a></li>
	<li><a href='{{ url_for('iupac', page=3)}}'>IUPAC 61-90</a></li>
	<li><a href='{{ url_for('iupac', page=4)}}'>IUPAC 91-120</a></li>
	<li><a href='{{ url_for('iupac', page=5)}}'>IUPAC 121-135</a></li>
</ul>